In [82]:
import pandas as pd

#See http://adif.org/adif.html
fields=['OPERATOR','CALL','QSO_DATETIME','U1','U2','U3','FREQ','U4','J1','MODE','RST_RCVD','RST_RSENT','J1',
        'J1','J1','J1','J1','J1','J1','J1','J1','J1','J1','J1','J1','J1','J1']
wantedfields=['OPERATOR','CALL','QSO_DATETIME','FREQ','MODE','RST_RCVD','RST_RSENT']

#
#Read In my OLD MixW log file
#
mixw=pd.DataFrame.from_csv("MixW2.log",index_col=None,sep=';')
mixw.columns=fields
wanted=mixw[wantedfields].copy()

In [83]:
wanted.head()

  OPERATOR    CALL    QSO_DATETIME      FREQ MODE RST_RCVD RST_RSENT
0    A45WG  VU2NXM  20060127180532   7070000   CW      599       599
1    A45WG   UK8UC  20060126114553  18109000   CW      599       599
2    A45WG   AX4AN  20060125144222  14070000   CW      599       NaN
3    A45WG   3B8FG  20060125135845  14070000   CW      599       599
4    A45WG    6O0N  20060125134852  21070000   CW      559       599

In [84]:
#Alter some of the MIXW labels to ADIF standard (err) labels
wanted[wanted.MODE=='BPSK31']
#SSB, CW, RTTY, TOR=AMTOR, PKT, AM, FM, SSTV, ATV, PAC=PACTOR,CLO=CLOVER
wanted.loc[wanted.MODE == 'BPSK31', 'MODE'] = 'BPSK'
wanted.loc[wanted.MODE == 'WEFAX', 'MODE'] = 'PKT'

In [85]:
#Create Date & Time
wanted['QSO_DATE'] = wanted.QSO_DATETIME.apply(lambda x: str(x)[:8])
wanted['TIME_ON'] = wanted.QSO_DATETIME.apply(lambda x: str(x)[8:])
#Adjust the freq
wanted['FREQ'] = wanted.FREQ.apply(lambda x: (x/1000000))

wanted['RST_RCVD'].fillna('59',inplace=True)
wanted['RST_RSENT'].fillna('59',inplace=True)

In [86]:
#Remove the QSO_DATETIME field
wanted.drop('QSO_DATETIME',axis=1,inplace=True)

In [87]:
wanted.head()

  OPERATOR    CALL    FREQ MODE RST_RCVD RST_RSENT  QSO_DATE TIME_ON
0    A45WG  VU2NXM   7.070   CW      599       599  20060127  180532
1    A45WG   UK8UC  18.109   CW      599       599  20060126  114553
2    A45WG   AX4AN  14.070   CW      599        59  20060125  144222
3    A45WG   3B8FG  14.070   CW      599       599  20060125  135845
4    A45WG    6O0N  21.070   CW      559       599  20060125  134852

In [88]:
#Now we need to print to a file so we can re-import 
import pprint
with open("to_load.adif","wt") as adif_file:
    for index, row in wanted.iterrows():  
        for field in row.index:
            adif_file.write('<{}:{}>{}'.format(field,len(str(row[field])),row[field]))
        adif_file.write('<eor>\n')

In [89]:
adif_file.close()

In [90]:
wanted[wanted['FREQ']>30]

Empty DataFrame
Columns: [OPERATOR, CALL, FREQ, MODE, RST_RCVD, RST_RSENT, QSO_DATE, TIME_ON]
Index: []

In [91]:
wanted.count()

OPERATOR     23120
CALL         23120
FREQ         23120
MODE         23120
RST_RCVD     23120
RST_RSENT    23120
QSO_DATE     23120
TIME_ON      23120
dtype: int64

In [92]:
wanted.describe()

               FREQ
count  23120.000000
mean      19.464330
std        4.499939
min        3.502829
25%       14.260000
50%       21.070000
75%       21.305000
max       28.680000

In [93]:
wanted[wanted['FREQ']<3]

Empty DataFrame
Columns: [OPERATOR, CALL, FREQ, MODE, RST_RCVD, RST_RSENT, QSO_DATE, TIME_ON]
Index: []