In [45]:
import pandas as pd

In [121]:
#See http://adif.org/adif.html
fields=['OPERATOR','CALL','QSO_DATETIME','U1','U2','U3','FREQ','U4','J1','MODE','J1','J1','J1',
        'J1','J1','J1','J1','J1','J1','J1','J1','J1','J1','J1','J1','J1','J1']
wantedfields=['OPERATOR','CALL','QSO_DATETIME','FREQ','MODE']

#
#Read In my OLD MixW log file
#
mixw=pd.DataFrame.from_csv("MixW2.log",index_col=None,sep=';')
mixw.columns=fields
wanted=mixw[wantedfields].copy()

In [122]:
wanted.head()

  OPERATOR    CALL    QSO_DATETIME      FREQ MODE
0    A45WG  VU2NXM  20060127180532   7070000   CW
1    A45WG   UK8UC  20060126114553  18109000   CW
2    A45WG   AX4AN  20060125144222  14070000   CW
3    A45WG   3B8FG  20060125135845  14070000   CW
4    A45WG    6O0N  20060125134852  21070000   CW

In [123]:
#Alter some of the MIXW labels to ADIF standard (err) labels
wanted[wanted.MODE=='BPSK31']
#SSB, CW, RTTY, TOR=AMTOR, PKT, AM, FM, SSTV, ATV, PAC=PACTOR,CLO=CLOVER
wanted.loc[wanted.MODE == 'BPSK31', 'MODE'] = 'BPSK'
wanted.loc[wanted.MODE == 'WEFAX', 'MODE'] = 'PKT'

In [124]:
#Create Date & Time
wanted['QSO_DATE'] = wanted.QSO_DATETIME.apply(lambda x: str(x)[:8])
wanted['TIME_ON'] = wanted.QSO_DATETIME.apply(lambda x: str(x)[8:])

In [125]:
#Remove the QSO_DATETIME field
wanted.drop('QSO_DATETIME',axis=1,inplace=True)

In [126]:
wanted.head()

  OPERATOR    CALL      FREQ MODE  QSO_DATE TIME_ON
0    A45WG  VU2NXM   7070000   CW  20060127  180532
1    A45WG   UK8UC  18109000   CW  20060126  114553
2    A45WG   AX4AN  14070000   CW  20060125  144222
3    A45WG   3B8FG  14070000   CW  20060125  135845
4    A45WG    6O0N  21070000   CW  20060125  134852

In [127]:
#Now we need to print to a file so we can re-import 
import pprint
with open("to_load.adif","wt") as adif_file:
    for index, row in wanted.iterrows():  
        for field in row.index:
            adif_file.write('<{}:{}>{}'.format(field,len(str(row[field])),row[field]))
        adif_file.write('<eor>\n')

In [128]:
adif_file.close()